@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/GT-America-Expanded-Bold-Trial.otf') format('truetype');
    /* You can specify additional font properties if needed */
  }





.btn{
    /* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 55px;
gap: 10px; */

position: absolute;
width: 518px;
height: 123px;
left: 175px;
top: 703px;

background: #ED7E02;
border-radius: 100px;
}

.first{
    
position: absolute;
left: 82.64%;
right: 11.6%;
top: 38.62%;
bottom: 37%;


}

.second{
    position: absolute;
left: 76.56%;
right: 17.68%;
top: 38.62%;
bottom: 37%;


}

.text-get-started{
    position: absolute;
width: 316px;
height: 43px;
left: 55px;
top: 40px;

font-family: 'CustomFont';
font-weight: 1200;
font-size: 34px;
line-height: 43px;
color: #101010;
}