@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/GT-America-Expanded-Bold-Trial.otf') format('truetype');
    /* You can specify additional font properties if needed */
  }


.Header{
    background-color: #4C27AE;
    border-radius: 30px;
    position: absolute;
width: 1668px;
height: 865px;
left: 31px;
top: 45px;
}


.hero{
    position: absolute;
    width: 756px;
    height: 946px;
    left: 924px;
    top: 170px;
}

.text-1{
    position: absolute;
width: 874px;
height: 226px;
left: 168px;
top: 274px;

font-family: 'CustomFont';
font-style: normal;
font-weight: 900;
font-size: 90px;
line-height: 113px;
text-transform: uppercase;

color: #FFFFFF;
}

.text-2{
    position: absolute;
width: 749px;
height: 84px;
left: 175px;
top: 536px;

font-family: 'CustomFont';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 28px;

color: #FFFFFF;

}

.cheese{
    position: absolute;
width: 60px;
height: 38px;
left: 1569px;
top: 111px;

}
