@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/GT-America-Expanded-Bold-Trial.otf') format('truetype');
    /* You can specify additional font properties if needed */
  }


.star{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 748px;
    top: 105px;
    
}

.background{
    position: absolute;
width: 369px;
height: 80px;
left: 693px;
top: 90px;
}

.text{
    position: absolute;
width: 174px;
height: 33px;
left: 808px;
top: 113px;

font-family:'CustomFont';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 33px;


text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}