.sponsor{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translate(0,5vh); */
    margin-top: 13vh;
    padding: 3vh ;
}

#img{
    max-width: 70vw;
}
